spring:
  application:
    name: UserService
  datasource:
    url: jdbc:postgresql://localhost:5432/userservice
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      dialect :  org.hibernate.dialect.PostgreSQLDialect



server:
  port: 8081

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone : http://localhost:8761/eureka

